<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>Ejercicio2</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/estilosEjercicios.css') }}">
</head>
<body>
  <main class="container">
    <form method="POST" class="card">
        <h1>Formulario Nombre</h1>
        <p>Ingrese 3 nombres diferentes.</p>
        <p>Se mostrará cuál es el más largo y su cantidad de caracteres.</p>
      <label>Nombre 1:<br/>
        <input type="text" name="nombre1" required>
      </label><br/>
      <label>Nombre 2:<br/>
        <input type="text" name="nombre2" required>
      </label><br/>
      <label>Nombre 3:<br/>
        <input type="text" name="nombre3" required>
      </label><br/><br/>
      <div class="botones">
          <button type="submit" class="btn">Enviar</button>
          <a href="{{ url_for('index') }}" class="btn">Volver</a>
      </div> </form>

    {% if resultado %}
      <div class="card success" style="margin-top:16px;">
        <p>{{ resultado }}</p>
      </div>
    {% endif %}
  </main>
</body>
</html>
