<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>Menú Principal</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
</head>
<body>
  <main class="container">
    <h1>Menú Principal</h1>
    <p>Selecciona el ejercicio:</p>
    <div class="menu-botones">
        <a href="{{ url_for('ejercicio1') }}"><button class="btn">Ejercicio 1</button></a>
        <a href="{{ url_for('ejercicio2') }}"><button class="btn">Ejercicio 2</button></a>
    </div>
  </main>
</body>
</html>

